<a href="https://colab.research.google.com/github/abliskan/Digital-Talent-Scholarships-Data-Engineer/blob/main/Data%20Wrangling%20Python/Data_Wrangling_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1 - Cara Membaca Data Menggunakan Pandas
1. Membaca file dengan menggunakan pandas

In [ ]:
import pandas as pd
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

In [ ]:
print(csv_data)

2. Membaca file dengan menggunakan head()

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

In [ ]:
print(csv_data.head())

3. Melakukan akses data kolom

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

In [ ]:
print(csv_data['Age'])

4. Melakukan akses data melalui baris

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv

In [ ]:
print(csv_data.iloc[5])

5. Menampilkan suatu data dari baris dan kolom tertentu

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

In [ ]:
print(csv_data['Age'].iloc[1])

In [ ]:
print("Cuplikan Dataset:")

In [ ]:
print(csv_data.head())

6. Menampilkan data dalam range tertentu

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

In [ ]:
print("Menampilkan data ke 5 sampai kurang dari 10 dalam satu baris:")

In [ ]:
print(csv_data.iloc[5:10])

7. Menampilkan informasi statistik dengan Nump

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

In [ ]:
print(csv_data.describe(exclude=['O']))

# Chapter 2 - Data Missing Hingga Normalisasi Data
1. Melakukan pengecekan untuk nilai NULL yang ada

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data_missingvalue.csv")

In [ ]:
print(csv_data.isnull().values.any())

2. Mengisi dengan Mean

In [ ]:
import pandas as pd
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data_missingvalue.csv")

In [ ]:
print(csv_data.mean())

In [ ]:
print("Dataset yang masih terdapat nilai kosong ! :")

In [ ]:
print(csv_data.head(10))

In [ ]:
csv_data = csv_data.fillna(csv_data.mean())

In [ ]:
print("Dataset yang sudah diproses Handling Missing Values dengan Mean :")

In [ ]:
print(csv_data.head(10))

3. Mengisi dengan Median

In [ ]:
import pandas as pd 
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data_missingvalue.csv")

In [ ]:
print("Dataset yang masih terdapat nilai kosong ! :")

In [ ]:
print(csv_data.head(10))

In [ ]:
csv_data = csv_data.fillna(csv_data.median())

In [ ]:
print("Dataset yang sudah diproses Handling Missing Values dengan Median :")
print(csv_data.head(10))

4. Praktek Normalisasi menggunakan Scikit Learn pada Python

In [ ]:
import pandas as pd 
import numpy as np
from sklearn import preprocessing

csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")
array = csv_data.values

In [ ]:

X = array[:,2:5] #memisahkan fitur dari dataset.
Y = array[:,0:1] #memisahkan class dari dataset

dataset = pd.DataFrame({'Customer ID':array[:,0], 'Gender':array[:,1],'Age':array[:,2],'Income':array[:,3],'Spending Score':array[:,4]})
print("dataset sebelum dinormalisasi :")
print(dataset.head(10))

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,1)) #inisialisasi normalisai MinMax
data = min_max_scaler.fit_transform(X) #transformasi MinMax untuk fitur
dataset = pd.DataFrame({'Age':data[:,0],'Income':data[:,1],'Spending Score':data[:,2],'Customer ID':array[:,0],'Gender':array[:,1]})

print("dataset setelah dinormalisasi :")
print(dataset.head(10))